.title {
	font-size: var(--forecast-font-size-title);
	font-weight: bold;
	padding-left: 15px;
}

.daily-item {
	border-radius: 15px;
	height: 160px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	font-size: var(--forecast-font-size-daily-item-small);
	padding: 5px 20px;
	background-image: var(--gradient);
	background-size: 400%;
	background-position: left;
	transition: background-position 1s;
	animation: slide-in 0.22s ease-in;
	z-index: 1;
	position: relative;
}

.daily-item:hover,
.daily-item:focus {
	background-position: right;
}

.icon {
	width: 80px;
}

.day,
.description {
	color: var(--forecast-main-text-color);
	font-weight: bold;
	-webkit-text-stroke: var(--forecast-text-stroke);
	padding-bottom: 5px;
}

.day {
	margin-left: 0px;
}

.description {
	margin-right: 0px;
	text-align: right;
}

.max,
.min {
	font-weight: bolder;
}

.max {
	color: var(--forecast-highlight-color-orange);
}

.min {
	color: var(--forecast-highlight-color-teal);
}

.daily-details {
	font-size: var(--forecast-font-size-daily-item-details-small);
	position: relative;
	grid-row-gap: 0;
	grid-column-gap: 15px;
	column-gap: 15px;
	border-radius: 30px;
	display: grid;
	font-weight: bold;
	grid-template-columns: auto auto;
	padding: 5px 15px;
	z-index: 1;
	row-gap: 0;
	background-color: var(--forecast-daily-details-bg);
	animation: slide-in 0.35s ease-in;
}

@keyframes slide-in {
	from {
		transform: translateY(-55px);
	}
	70% {
		transform: translateY(20px);
	}
	to {
		transform: translateY(0px);
	}
}

.daily-details-item {
	display: flex;
	height: 30px;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 768px) {
	.daily-item {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 38px;
		font-size: var(--forecast-font-size-daily-item);
	}
	.daily-details {
		font-size: var(--forecast-font-size-daily-item);
	}
	.day,
	.description {
		padding-bottom: 0px;
		flex: 1 1;
	}
	.day {
		margin-left: 15px;
	}
	.description {
		margin-right: 15px;
	}
}
