.title {
	font-size: 23px;
	font-weight: 700;
	padding-left: 15px;
}

.daily-item {
	border-radius: 15px;
	height: 40px;
	margin: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 14px;
	padding: 5px 20px;
	background-image: var(--gradientt);
	background-size: 400%;
	background-position: left;
	transition: background-position 1s;
	animation: slidein 0.22s ease-in;
}

.daily-item:hover,
.daily-item:focus {
	background-position: right;
}

.icon {
	width: 80px;
}

.day {
	color: #212121;
	flex: 1 1;
	font-weight: 600;
	margin-left: 15px;
	-webkit-text-stroke: 1px black;
}

.description {
	flex: 1 1;
	margin-right: 15px;
	text-align: right;
	font-weight: 600;
	-webkit-text-stroke: 1px black;
}
.max {
	color: #eb5900;
	font-weight: 900;
}

.min {
	color: #009fa3;
	font-weight: 900;
}

.daily-details {
	grid-row-gap: 0;
	grid-column-gap: 15px;
	column-gap: 15px;
	border-radius: 30px;
	display: grid;
	grid-template-columns: auto auto;
	padding: 5px 15px;
	row-gap: 0;
	background-color: #e6ddcc;
	animation: slidein 0.35s ease-in;
}

@keyframes slidein {
	from {
		transform: translateY(-55px);
	}
	70% {
		transform: translateY(20px);
	}
	to {
		transform: translateY(0px);
	}
}

.daily-details-item {
	display: flex;
	height: 30px;
	justify-content: space-between;
	align-items: center;
}

.daily-details-item label:first-child {
	-webkit-text-stroke: 1px black;
}

.daily-details-item label:last-child {
	-webkit-text-stroke: 1px black;
}
